<template>
        <li :title="title">
        <article>
            {{ name }}
            <span>{{ title }}</span>
        </article>
    </li>
</template>

<script>
export default {
    props: {
        title:String,
        name:String
    },
    data(){
        return {

        }
    },
}
</script>

<style lang="scss">
    li article{
        border: 10px solid gold;
    }
</style>

