<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<title>Vue me</title>
	</head>
	<body>
		<div id="app">
			<ul>
				<dude
					v-for="dude in characters"
					title="hello, my good dude"
					:name="dude"
				></dude>
			</ul>

			<form class="add-new" @submit.prevent="characters.push(newDude)">
				<input type="text" v-model="newDude" />
			</form>

			<p class="preview">{{ newDude }}</p>
		</div>

		<script src="https://unpkg.com/vue@next"></script>
		<script src="./js/main.js"></script>
	</body>
</html>
